In [1]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd
import random

In [23]:
one_hot = pd.get_dummies(data['whoAmI'], sparse=False)

data = pd.concat([data, one_hot], axis=1)
pd.get_dummies(data['whoAmI'])

    human  robot
0       0      1
1       0      1
2       0      1
3       0      1
4       1      0
5       1      0
6       0      1
7       0      1
8       1      0
9       0      1
10      0      1
11      1      0
12      1      0
13      1      0
14      1      0
15      0      1
16      1      0
17      0      1
18      1      0
19      1      0

In [21]:
enc = OneHotEncoder()
enc.fit(data[['whoAmI']])

one_hot = enc.transform(data[['whoAmI']])
cols = enc.get_feature_names_out(['whoAmI'])

one_hot_df = pd.DataFrame(one_hot.toarray(), columns=cols)
one_hot_df.head()

   whoAmI_human  whoAmI_robot
0           0.0           1.0
1           0.0           1.0
2           0.0           1.0
3           0.0           1.0
4           1.0           0.0